@font-face {
  font-family: 'Aguilary';
  src: url('fonts/Aguilary.otf') format('opentype');
}

@font-face {
  font-family: 'Mancunian';
  src: url('fonts/mancunian.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Mancunian';
  src: url('fonts/mancunian-bold.otf') format('opentype');
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: 'Mancunian';
  src: url('fonts/mancunian-light.otf') format('opentype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
    font-family: 'Drogel';
    src: url('fonts/Drogel.otf') format('opentype');
}

@font-face {
    font-family: 'Brons';
    src: url('fonts/Brons.ttf') format('opentype');
    font-weight: bold;
}


img {
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
}